<section class="sidebar-data-holder">
    <div class="spinner" role="spinner"><div class="spinner-icon"></div></div>
    <nav class="main-nav">
        <button class="nav-control"><i class="icon-hamburguer"></i></button>
        {% include nav.html %}
    </nav>
    <div class="logo"><a href="/" title="Back to home">{{site.name}}</a></div>

    <!-- Author info -->
    {% if page.author %}
        {% include author.html %}
        {{/post}}
    {% else %}
        {% for post in paginator.posts %}
            {% if post.author %}
                {% include author.html %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Social media badges -->
    {{include social-media.html}}

    <footer id="main-footer"><p>
        {% if page.cover_credit %}
        Image propriété de : {{page.cover_credit}}
        {% else %}
        Theme fabriqué par <a href="https://twitter.com/damianmuti" title="Go to @damianmuti's Twitter" rel="external">@damianmuti</a>. Code par @octplane.
        {% endif %}
    </p></footer>
</section>