<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{{page.title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{site.assets}}/css/style.css"}}">
    <!-- 1. Moot style -->
     <link rel="stylesheet" type="text/css" href="//cdn.moot.it/1/moot.css">
     <!-- 2. jQuery library (v1.7+ required) -->
     <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
     <!-- 3. Moot application -->
     <script src="//cdn.moot.it/1/moot.min.js"></script>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.assets }}/images/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.assets }}/images/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.assets }}/images/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.assets }}/images/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.assets }}/images/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="{{ site.assets }}/images/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="{{ site.assets }}/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.assets }}/images/favicon.ico" />
</head>
<body>
<div id="main-content" role="main" class="pure-g-r">
    <aside id="main-sidebar" class="pure-u-1-2" style="background-image:url({{page.cover_image || site.cover}})">
        {% include aside.html %}
    </aside>
    <section id="main" class="pure-u-1-2">
