.container {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2px;
}

.site {
  color: #383838;
  padding-top: 70px;
}

a {
 color: #5aaf6b;
 text-decoration: none;
}

h1, h2, h3 {
  letter-spacing: -0.025em;
  line-height: 1;
  margin: 0;
}

ul.posts {
  list-style: none inside;
  padding: 0;
}

.posts a {
  color: #333333;
}

.posts li {
  margin-bottom: 3.5em;
}

.category {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0.5em 0;
}

.category h4 {
  line-height: 0;
  color: #b4b4b2;
  text-transform: uppercase;
  font-size: 0.5em;
  letter-spacing: 0.25em;
}

.content {
  float: right;
  width: 70%;
  font-size: 1.25em;
}

.about {
  float: left;
  width: 25%;
  text-align: right;
  min-width: 250px;
}

.about p {
  font-style: italic;
  color: #999;
}

.about h3,
.about a {
  color: #5aaf6b;
}

.published h4 {
  display: inline;
  border-top: 2px solid #eee;
  color: #70706f;
}

.published p.meta {
  margin: 0;
}

@media screen and (max-width: 865px) {
  .content, .about {
    float: left;
    clear: left;
    margin: 0 0 10px;
    width: 100%;
  }

  .about {
    border-top: 1px solid #eee;
    text-align: left;
    padding: 10px;
  }
}