---
layout: layout
---


<section class="content">
  {{ content }}
  <div class="small-col left">
      <h2>Blog Posts</h2>
      <ul class="listing">
        {% for post in site.posts %}
          {% unless post.draft or post.reference %}
          <li>
            <span> {% if post.tags %}<i class="icon-tags"></i> {{post.tags | tagelize | join(",") |  }}{% endif %}
     {{ post.date | date: "%B %e, %Y" }}{% if post.lang %}&nbsp;<img src="/images/blank.gif" class="flag flag-{{ post.lang}}" title="[{{post.lang}}]">{% endif %}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
  </div>
  <div class="small-col right">
      <h2>Shared Links</h2>
      <ul class="listing">
        {% for post in site.posts %}
          {% if post.layout == 'pinboard' %}
          <li>
            <span> {% if post.tags %}<i class="icon-tags"></i> {{post.tags | tagelize | join(",") |  }}{% endif %}
     {{ post.date | date: "%B %e, %Y" }}{% if post.lang %}&nbsp;<img src="/images/blank.gif" class="flag flag-{{ post.lang}}" title="[{{post.lang}}]">{% endif %}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
  </div>
</section>
