---
layout: layout
---


<section class="content">
  {{ content }}
  <ul class="listing">
    {% for post in site.posts %}
      {% unless post.draft %}
      <li>
        <span> {% if post.tags %}<i class="icon-tags"></i> {{post.tags | tagelize | join(",") |  }}{% endif %}
 {{ post.date | date: "%B %e, %Y" }}{% if post.lang %}&nbsp;<img src="/images/blank.gif" class="flag flag-{{ post.lang}}" title="[{{post.lang}}]">{% endif %}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
</section>
