<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.wname }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="{{ site.github.url }}/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="{{ site.github.url }}/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="{{ site.github.url }}/apple-touch-icon.png" />
  <!-- 1. Moot style -->
   <link rel="stylesheet" type="text/css" href="//cdn.moot.it/1/moot.css">
   <!-- 3. Moot application -->
   <script src="//cdn.moot.it/1/moot.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.github.url }}/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="http://www.gravatar.com/avatar/{{site.gravatar}}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
      <a href="{{ site.owner_url }}" target="_blank"><i class="fa fa-github"></i></a><br>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="fr.linkedin.com/in/octplane" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="/where-does-this-nick-come-from/">oct-what ?</a></li>
        <li><a href="/my-ios-apps/">my iOs apps</a></li>
        <li><a href="/">posts</a></li>
      </ul>
    </section>
  </section>

  {{ content }}

  {{#if post.date}}
    <script async type="text/javascript" src="//apis.google.com/js/plusone.js?callback=gpcb"></script>
{{/if}}
<script type="text/javascript">
window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
window.analytics.load("l7ivj5g9sc");
window.analytics.page();
</script>

</body>

</html>
