{% include before.html %}

<article class="post">

    <header class="post-header">
        <h1>{{page.title}}</h1>

        <!-- Post meta -->
        {% include post-meta.html %}
    </header>

    <div class="post-content">
        {{content}}
    </div>

</article>
    <footer><!-- <3 Neuro --><p>Une information, une correction ou un complément à ajouter en privé ? &Eacute;crivez moi à <a href="mailto:oct@zoy.org">oct@zoy.org</a>.</footer>

    <!-- Google+ Comments -->
    <section class="comments">
    <a class="moot"
   href="https://moot.it/i/oct-zoy-org/discussions/{{page.moot_legacy_id || page.id}}"
   data-pageTitle="{{title}}"
   data-show_title="true"
   data-show_online="true">
  Commentaires
</a>
    </section>
{% include after.html %}
